$header-height: 100px;
$footer-height: 80px;
$primary-color: #02d199;

$font-main-color: #333;
$border-color: #e6e6e6;

// -> iphone
$break-small: 320px;
$break-media: 375px;
$break-max: 414px;
$break-super: 480px;

$height-small: 667px;
$height-media: 736px;
$height-max: 812px;
